{% extends "rest_framework/base.html" %}


{% block title %}Регистрация{% endblock %}

{% block content %}
<body class="container">
    <div class="container-fluid" style="margin-top: 30px">
     <div class="row-fluid">
      <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
       <div class="row-fluid">
            <h2>Регистрация</h2>
            <form method="POST">
                    {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <input id="button" type="submit" value="отправить" >
            </form>
       </div>
      </div>
     </div>
    </div>
</body>
{% endblock %}